In [ ]:
pip install faker

Collecting faker
  Downloading Faker-30.8.2-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-30.8.2-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 27.5 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-30.8.2

In [ ]:
import pandas as pd
import random
from faker import Faker
fake = Faker('id_ID')

In [ ]:
df_city = pd.read_excel("city.xlsx")

In [ ]:
df_city

    kota_id             nama_kota  latitude   longitude
0      3171    Kota Jakarta Pusat -6.186486  106.834091
1      3172    Kota Jakarta Utara -6.121435  106.774124
2      3173    Kota Jakarta Barat -6.135200  106.813301
3      3174  Kota Jakarta Selatan -6.300641  106.814095
4      3175    Kota Jakarta Timur -6.264451  106.895859
5      3573           Kota Malang -7.981894  112.626503
6      3578         Kota Surabaya -7.289166  112.734398
7      3471       Kota Yogyakarta -7.797224  110.368797
8      3273          Kota Bandung -6.914744  107.609811
9      1371           Kota Padang -0.950000  100.353056
10     1375      Kota Bukittinggi -0.305556  100.369167
11     6471       Kota Balikpapan -1.263539  116.827883
12     6472        Kota Samarinda -0.502183  117.153801
13     7371         Kota Makassar -5.133333  119.416667
14     5171         Kota Denpasar -8.656290  115.222099

In [ ]:
loc_id_options = df_city["kota_id"]
loc_id_options

0     3171
1     3172
2     3173
3     3174
4     3175
5     3573
6     3578
7     3471
8     3273
9     1371
10    1375
11    6471
12    6472
13    7371
14    5171
Name: kota_id, dtype: int64

In [ ]:
n = 100
name_list = []
phone_list = []
address_list = []

for i in range(0, n):
    name = fake.name()
    name_list.append(name)

    phone = fake.phone_number()
    phone_list.append(phone)

    address = fake.street_address()
    address_list.append(address)

In [ ]:
loc_list = []
for i in range(0, n):
    x = random.randint(0, len(loc_id_options)-1)
    loc_list.append(loc_id_options[x])

In [ ]:
df_user = pd.DataFrame()
df_user['user_id'] = range(1, n+1)
df_user['name'] = name_list
df_user['phone'] = phone_list
df_user['address'] = address_list
df_user['location_id'] = loc_list

In [ ]:
df_user.head()

,user_id,name,phone,address,location_id
0,1,"dr. Jelita Hidayat, S.Kom",+62-0644-234-5044,Gg. Medokan Ayu No. 286,1371
1,2,Soleh Saputra,+62 (074) 944-9606,Jalan Yos Sudarso No. 01,3273
2,3,Yance Palastri,086 696 6036,Jl. Asia Afrika No. 8,3471
3,4,Oman Agustina,080 612 8427,Gg. Cihampelas No. 5,3172
4,5,Fitria Samosir,+62-0343-039-3231,Jl. Ciwastra No. 72,3471

In [ ]:
df_user.to_csv("users_table.csv", index=False)

In [ ]:
df_car = pd.read_excel("car_product.xlsx")
df_car

    product_id     brand            model  body_type  year      price
0            1    Toyota     Toyota Yaris  Hatchback  2016  175000000
1            2    Toyota     Toyota Yaris  Hatchback  2018  215000000
2            3    Toyota     Toyota Yaris  Hatchback  2014  162000000
3            4    Toyota     Toyota Yaris  Hatchback  2020  220000000
4            5    Toyota     Toyota Yaris  Hatchback  2012  124000000
5            6    Toyota      Toyota Agya  Hatchback  2019  114000000
6            7    Toyota      Toyota Agya  Hatchback  2014   97000000
7            8    Toyota      Toyota Agya  Hatchback  2016  110000000
8            9    Toyota      Toyota Agya  Hatchback  2022  155500000
9           10    Toyota      Toyota Agya  Hatchback  2017  115500000
10          11    Toyota     Toyota Calya      Wagon  2019  130000000
11          12    Toyota     Toyota Calya      Wagon  2019  137000000
12          13    Toyota     Toyota Calya      Wagon  2017  115500000
13          14    Toyota     Toyota Calya      Wagon  2016  104000000
14          15    Toyota     Toyota Calya      Wagon  2016  107000000
15          16  Daihatsu    Daihatsu Ayla  Hatchback  2016   83000000
16          17  Daihatsu    Daihatsu Ayla  Hatchback  2019  120000000
17          18  Daihatsu    Daihatsu Ayla  Hatchback  2015   96000000
18          19  Daihatsu    Daihatsu Ayla  Hatchback  2017  115000000
19          20  Daihatsu    Daihatsu Ayla  Hatchback  2017  113000000
20          21  Daihatsu  Daihatsu Terios        SUV  2018  190000000
21          22  Daihatsu  Daihatsu Terios        SUV  2022  223000000
22          23  Daihatsu  Daihatsu Terios        SUV  2019  189900000
23          24  Daihatsu  Daihatsu Terios        SUV  2017  166000000
24          25  Daihatsu  Daihatsu Terios        SUV  2018  201000000
25          26  Daihatsu   Daihatsu Xenia        MPV  2019  170000000
26          27  Daihatsu   Daihatsu Xenia        MPV  2022  220500000
27          28  Daihatsu   Daihatsu Xenia        MPV  2017  135000000
28          29  Daihatsu   Daihatsu Xenia        MPV  2014  100000000
29          30  Daihatsu   Daihatsu Xenia        MPV  2018  159000000
30          31     Honda       Honda Jazz  Hatchback  2018  236000000
31          32     Honda       Honda Jazz  Hatchback  2019  250000000
32          33     Honda       Honda Jazz  Hatchback  2018  216000000
33          34     Honda       Honda Jazz  Hatchback  2015  192000000
34          35     Honda       Honda Jazz  Hatchback  2013  178000000
35          36     Honda       Honda CR-V        SUV  2018  415000000
36          37     Honda       Honda CR-V        SUV  2017  345000000
37          38     Honda       Honda CR-V        SUV  2009  116000000
38          39     Honda       Honda CR-V        SUV  2016  269000000
39          40     Honda       Honda CR-V        SUV  2018  398500000
40          41     Honda      Honda Civic  Hatchback  2018  350000000
41          42     Honda      Honda Civic      Sedan  2010  165000000
42          43     Honda      Honda Civic      Sedan  2013  186000000
43          44     Honda      Honda Civic      Sedan  2013  179000000
44          45     Honda      Honda Civic  Hatchback  2019  397500000
45          46    Suzuki    Suzuki Ertiga        MPV  2015  125000000
46          47    Suzuki    Suzuki Ertiga        MPV  2018  178000000
47          48    Suzuki    Suzuki Ertiga        MPV  2016  168000000
48          49    Suzuki    Suzuki Ertiga        MPV  2012  100000000
49          50    Suzuki    Suzuki Ertiga        MPV  2018  167000000

In [ ]:
transmission_options = ["m", "at"]

transmission_list = []
for i in range(0, 50):
    x = random.randint(0, 1)
    transmission_list.append(transmission_options[x])

df_car['transmission'] = transmission_list
df_car.head()

   product_id   brand         model  body_type  year      price transmission
0           1  Toyota  Toyota Yaris  Hatchback  2016  175000000           at
1           2  Toyota  Toyota Yaris  Hatchback  2018  215000000           at
2           3  Toyota  Toyota Yaris  Hatchback  2014  162000000            m
3           4  Toyota  Toyota Yaris  Hatchback  2020  220000000           at
4           5  Toyota  Toyota Yaris  Hatchback  2012  124000000           at

In [ ]:
# create random description

colour_options = ["red", "yellow", "blue", "dark blue", "grey", "black","white"]

desc_list = []
for i in range(0, 50):
    x = random.randint(0, len(colour_options)-1)
    desc_list.append(colour_options[x])

df_car['description'] = desc_list
df_car.head()

,product_id,brand,model,body_type,year,price,transmission,description
0,1,Toyota,Toyota Yaris,Hatchback,2016,175000000,at,white
1,2,Toyota,Toyota Yaris,Hatchback,2018,215000000,at,black
2,3,Toyota,Toyota Yaris,Hatchback,2014,162000000,m,black
3,4,Toyota,Toyota Yaris,Hatchback,2020,220000000,at,grey
4,5,Toyota,Toyota Yaris,Hatchback,2012,124000000,at,white

In [ ]:
df_car.to_csv("cars_table.csv", index = False)

# CREATE ADS DUMMY DATA

In [ ]:
available_cars = list(df_car['product_id'])
random_car = random.choice(available_cars)
print(random_car)
available_cars.remove(random_car)
print(available_cars)
# df_car.iloc[50]

36
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [ ]:
n = len(df_car)

ad_id_list = []
title_list =[]
car_id_list =[]
user_id_list =[]
loc_id_list = []

available_cars = list(df_car['product_id'])
for i in range(1, n+1):

    u = random.randint(0, len(df_user)-1)
    user = df_user.iloc[u]

    # c = random.randint(0, len(df_car)-1)
    c = random.choice(available_cars)
    # remove the randomly picked car_id from list
    available_cars.remove(c)
    l = random.randint(0, len(df_city)-1)

    car = df_car[df_car['product_id']==c]
    loc = df_city.iloc[l]
    title1 = f"Jual Mobil {car.model.item()} Tahun {car.year.item()} di {loc.nama_kota}"
    title2 = f"Jual Cepat {car.brand.item()} Tahun {car.year.item()} di {loc.nama_kota}"
    title3 = f"Jual Murah {car.brand.item()} Tahun {car.year.item()} di {loc.nama_kota}"
    titles = [title1, title2,title3]
    t = random.choice(titles)
    print(loc.nama_kota)
    ad_id_list.append(i)
    title_list.append(t)
    car_id_list.append(car['product_id'].item())
    user_id_list.append(user['user_id'])
    loc_id_list.append(loc['kota_id'])

Kota Bukittinggi
Kota Malang
Kota Malang
Kota Samarinda
Kota Denpasar
Kota Jakarta Barat
Kota Balikpapan
Kota Bukittinggi
Kota Jakarta Utara
Kota Jakarta Selatan
Kota Bandung
Kota Malang
Kota Denpasar
Kota Jakarta Selatan
Kota Makassar
Kota Jakarta Selatan
Kota Makassar
Kota Yogyakarta
Kota Samarinda
Kota Jakarta Barat
Kota Jakarta Selatan
Kota Jakarta Timur
Kota Padang
Kota Jakarta Utara
Kota Jakarta Barat
Kota Surabaya
Kota Yogyakarta
Kota Bukittinggi
Kota Samarinda
Kota Jakarta Timur
Kota Jakarta Barat
Kota Denpasar
Kota Bandung
Kota Jakarta Barat
Kota Balikpapan
Kota Jakarta Timur
Kota Jakarta Utara
Kota Bandung
Kota Yogyakarta
Kota Denpasar
Kota Jakarta Pusat
Kota Jakarta Utara
Kota Jakarta Barat
Kota Malang
Kota Jakarta Utara
Kota Padang
Kota Bukittinggi
Kota Samarinda
Kota Surabaya
Kota Jakarta Selatan

In [ ]:
date_list = []
for i in range(0, 50):
    fake_date = fake.date_between(start_date='-1y', end_date='today')
    date_list.append(fake_date)

In [ ]:
df_ads = pd.DataFrame()
df_ads['ad_id'] = ad_id_list
df_ads['title'] = title_list
df_ads['date_post'] = date_list
df_ads['car_id'] = car_id_list
df_ads['user_id'] = user_id_list
df_ads['location_id'] = loc_id_list

In [ ]:
df_ads

,ad_id,title,date_post,car_id,user_id,location_id
0,1,Jual Mobil Honda Civic Tahun 2010 di Kota Buki...,2024-05-17,42,32,1375
1,2,Jual Mobil Daihatsu Xenia Tahun 2019 di Kota M...,2024-07-09,26,86,3573
2,3,Jual Murah Honda Tahun 2018 di Kota Malang,2024-10-31,36,18,3573
3,4,Jual Mobil Honda Civic Tahun 2013 di Kota Sama...,2024-02-08,44,39,6472
4,5,Jual Cepat Honda Tahun 2018 di Kota Denpasar,2024-10-30,40,97,5171
5,6,Jual Cepat Suzuki Tahun 2018 di Kota Jakarta B...,2024-05-28,47,60,3173
6,7,Jual Murah Daihatsu Tahun 2019 di Kota Balikpapan,2024-02-25,23,38,6471
7,8,Jual Murah Toyota Tahun 2019 di Kota Bukittinggi,2023-12-23,6,89,1375
8,9,Jual Cepat Honda Tahun 2017 di Kota Jakarta Utara,2024-07-03,37,66,3172
9,10,Jual Cepat Toyota Tahun 2022 di Kota Jakarta S...,2024-07-18,9,71,3174
10,11,Jual Murah Honda Tahun 2018 di Kota Bandung,2024-01-17,31,58,3273
11,12,Jual Cepat Toyota Tahun 2019 di Kota Malang,2024-03-09,12,73,3573
12,13,Jual Cepat Daihatsu Tahun 2018 di Kota Denpasar,2024-11-03,21,31,5171
13,14,Jual Mobil Toyota Agya Tahun 2014 di Kota Jaka...,2024-04-30,7,5,3174
14,15,Jual Murah Daihatsu Tahun 2016 di Kota Makassar,2023-11-27,16,96,7371
15,16,Jual Cepat Suzuki Tahun 2015 di Kota Jakarta S...,2024-08-18,46,15,3174
16,17,Jual Mobil Suzuki Ertiga Tahun 2018 di Kota Ma...,2023-12-22,50,86,7371
17,18,Jual Murah Honda Tahun 2015 di Kota Yogyakarta,2024-10-30,34,100,3471
18,19,Jual Murah Honda Tahun 2019 di Kota Samarinda,2024-06-26,32,83,6472
19,20,Jual Murah Honda Tahun 2019 di Kota Jakarta Barat,2023-11-23,45,6,3173
20,21,Jual Mobil Toyota Yaris Tahun 2018 di Kota Jak...,2024-09-01,2,95,3174
21,22,Jual Cepat Daihatsu Tahun 2022 di Kota Jakarta...,2024-08-09,22,50,3175
22,23,Jual Cepat Daihatsu Tahun 2017 di Kota Padang,2023-12-11,24,51,1371
23,24,Jual Cepat Daihatsu Tahun 2018 di Kota Jakarta...,2024-04-01,25,9,3172
24,25,Jual Cepat Toyota Tahun 2016 di Kota Jakarta B...,2023-12-06,8,24,3173
25,26,Jual Cepat Toyota Tahun 2017 di Kota Surabaya,2024-01-01,13,94,3578
26,27,Jual Murah Toyota Tahun 2019 di Kota Yogyakarta,2024-10-08,11,64,3471
27,28,Jual Cepat Honda Tahun 2013 di Kota Bukittinggi,2024-05-27,43,76,1375
28,29,Jual Murah Honda Tahun 2016 di Kota Samarinda,2024-05-09,39,19,6472
29,30,Jual Murah Suzuki Tahun 2016 di Kota Jakarta T...,2024-10-11,48,28,3175
30,31,Jual Murah Toyota Tahun 2014 di Kota Jakarta B...,2024-10-11,3,11,3173
31,32,Jual Murah Toyota Tahun 2020 di Kota Denpasar,2024-10-16,4,26,5171
32,33,Jual Mobil Toyota Calya Tahun 2016 di Kota Ban...,2024-09-10,14,14,3273
33,34,Jual Murah Honda Tahun 2013 di Kota Jakarta Barat,2024-10-26,35,1,3173
34,35,Jual Cepat Honda Tahun 2009 di Kota Balikpapan,2024-04-19,38,44,6471
35,36,Jual Murah Daihatsu Tahun 2017 di Kota Jakarta...,2024-03-28,19,58,3175
36,37,Jual Mobil Daihatsu Xenia Tahun 2014 di Kota J...,2024-05-23,29,9,3172
37,38,Jual Mobil Daihatsu Xenia Tahun 2018 di Kota B...,2024-01-28,30,17,3273
38,39,Jual Cepat Daihatsu Tahun 2015 di Kota Yogyakarta,2024-08-15,18,18,3471
39,40,Jual Mobil Daihatsu Ayla Tahun 2017 di Kota De...,2024-01-31,20,64,5171
40,41,Jual Murah Honda Tahun 2018 di Kota Jakarta Pusat,2024-11-03,41,52,3171
41,42,Jual Murah Toyota Tahun 2012 di Kota Jakarta U...,2024-09-18,5,2,3172
42,43,Jual Mobil Toyota Yaris Tahun 2016 di Kota Jak...,2024-07-23,1,57,3173
43,44,Jual Mobil Suzuki Ertiga Tahun 2012 di Kota Ma...,2024-08-23,49,17,3573
44,45,Jual Murah Toyota Tahun 2017 di Kota Jakarta U...,2024-09-13,10,36,3172
45,46,Jual Murah Daihatsu Tahun 2019 di Kota Padang,2024-06-23,17,81,1371
46,47,Jual Cepat Daihatsu Tahun 2022 di Kota Bukitti...,2024-04-24,27,11,1375
47,48,Jual Murah Honda Tahun 2018 di Kota Samarinda,2023-11-10,33,13,6472
48,49,Jual Mobil Toyota Calya Tahun 2016 di Kota Sur...,2024-05-14,15,2,3578
49,50,Jual Mobil Daihatsu Xenia Tahun 2017 di Kota J...,2024-04-30,28,27,3174

In [ ]:
df_ads.to_csv("ads_table.csv", index = False)

# CREATE BIDS DUMMY DATA

In [ ]:
# create random bid amount and bid date

bid_id_list = []
ad_id_list = []
user_id_list = []
bid_amount_list = []
bid_date_list = []

for i in range(len(df_ads)):
    ad_by = df_ads.iloc[i]['user_id']

    bid_id_list.append(i)
    ad_id_list.append(df_ads.iloc[i]['ad_id'])

    # get randomised user id
    # but make sure it's not the same user that posts the ad
    possible_bidders = list(df_ads['user_id'])
    possible_bidders.remove(ad_by)

    bidder_id = random.choice(possible_bidders)
    user_id_list.append(bidder_id)

    # get randomised price in bid
    car_id = df_ads.iloc[i]['car_id'].item()
    print(car_id)
    price = df_car[df_car['product_id']==car_id]['price'].item()
    cut = random.randint(70, 95)/100
    bid_price = int(price * cut)
    bid_amount_list.append(bid_price)

    # get randomised date
    # but make sure it's after the ad posted
    date_posted = df_ads.iloc[i]['date_post']
    print(date_posted)


    fake_date = fake.date_between(start_date=date_posted, end_date='today')
    print(fake_date)
    bid_date_list.append(fake_date)

# for i in range(len(df_ads)):
#     n = random.randint(0, 3)

#     ad_by = df_ads.iloc[i]['user_id']
#     user_exception_list = [ad_by]

#     for j in range(n):

#         bid_id_list.append(j)
#         print(df_ads.iloc[i]['ad_id'])
#         ad_id_list.append(df_ads.iloc[i]['ad_id'])

#         # get randomised user id
#         # but make sure it's not the same user that posts the ad
#         possible_bidders = all_advertisers.remove(ad_by)
#         bidder_id = random.choice(possible_bidders)

42
2024-05-17
2024-07-22
26
2024-07-09
2024-10-18
36
2024-10-31
2024-11-07
44
2024-02-08
2024-07-29
40
2024-10-30
2024-10-31
47
2024-05-28
2024-06-08
23
2024-02-25
2024-05-22
6
2023-12-23
2024-09-21
37
2024-07-03
2024-08-05
9
2024-07-18
2024-10-03
31
2024-01-17
2024-03-11
12
2024-03-09
2024-11-01
21
2024-11-03
2024-11-05
7
2024-04-30
2024-06-24
16
2023-11-27
2024-04-06
46
2024-08-18
2024-10-02
50
2023-12-22
2024-09-13
34
2024-10-30
2024-10-30
32
2024-06-26
2024-07-01
45
2023-11-23
2024-09-25
2
2024-09-01
2024-11-06
22
2024-08-09
2024-10-23
24
2023-12-11
2024-10-18
25
2024-04-01
2024-09-24
8
2023-12-06
2024-09-25
13
2024-01-01
2024-07-17
11
2024-10-08
2024-11-08
43
2024-05-27
2024-09-19
39
2024-05-09
2024-05-23
48
2024-10-11
2024-10-20
3
2024-10-11
2024-10-26
4
2024-10-16
2024-10-23
14
2024-09-10
2024-10-03
35
2024-10-26
2024-11-01
38
2024-04-19
2024-10-21
19
2024-03-28
2024-05-10
29
2024-05-23
2024-10-08
30
2024-01-28
2024-03-29
18
2024-08-15
2024-10-24
20
2024-01-31
2024-04-02
41
2024-11-03
2024-11-06
5
2024-09-18
2024-10-07
1
2024-07-23
2024-10-10
49
2024-08-23
2024-10-05
10
2024-09-13
2024-09-23
17
2024-06-23
2024-07-15
27
2024-04-24
2024-10-13
33
2023-11-10
2024-08-25
15
2024-05-14
2024-10-09
28
2024-04-30
2024-11-08

In [ ]:
# create bid_date column

bid_date_list = []
for i in range(0, 50):
    date_posted = df_ads.iloc[i]['date_post']
    fake_bid_date = fake.date_between(start_date=date_posted, end_date='today')
    bid_date_list.append(fake_bid_date)

In [ ]:
# create bid_status column

status = [1, 0]

status_list = []
for i in range(0, 50):
    s = random.randint(0, 1)
    status_list.append(status[s])

#

In [ ]:
m = len(df_car)

df_bids = pd.DataFrame()
df_bids['bid_id'] = [f'B-{i+1:003}' for i in range(m)]
df_bids['ad_id'] = ad_id_list
df_bids['user_id'] = user_id_list
df_bids['bid_amount'] = bid_amount_list
df_bids['bid_date'] = bid_date_list
df_bids['bid_status'] = status_list

In [ ]:
# export to csv

df_bids.to_csv('bids_table.csv', index=False)